<% provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <%= image_tag "sirloin-steak.png", class: "center-block", size: "300x215" %>
  <h2>Authenticate to <%= link_to 'Stack Exchange', @oauth_url %> to get started.</h2>
</div>

<!--<div class="row">
  <%= image_tag "sirloin-steak.png", class: "center-block", size: "300x215" %>

  <h1>SERLOIN</h1>

  <label for="userID">Please enter your StackOverflow user ID</label>
  <input type="text" class="form-control" id="userID" placeholder="StackOverflow User ID">
  </br>
  <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>

</div>

<div id="waiting-div" class="row text-center" style="display:none;">
  </br>
  <i id="waiting-spinner" class="fa fa-gear fa-spin"></i>
  <h2>Fetching results</h2>
</div>-->
