<% provide(:title, "Create Session") %>

<div class="jumbotron" style="text-align:center;">
  <h1>You were successfully authenticated to Stack Exchange!</h1>
  <h2><%= @access_token %></h2>
  <%= link_to "Make Recommendations", recommendation_results_path, class: "btn btn-primary", id: "recommend-btn" %>
</div>

<div id="waiting-div" class="row text-center" style="display:none;">
  </br>
  <i id="waiting-spinner" class="fa fa-gear fa-spin"></i>
  <h2>Recommending questions to answer...</h2>
</div>
