<% provide(:title, "Results") %>
<h1>Here are your results!</h1>

<% @sorted_questions.each do |question| %>
  <% full_question = find_question(@recent_questions, question[0]) %>
  <p><%= link_to question[0], "https://stackoverflow.com/questions/#{question[0]}" %> Relevance: <%= @questionList[question[0]] %></p>
<% end %>

<h2><%= @recent_questions.inspect %></h2>
